[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
server = "flask run"
